{% extends 'base.html' %}

{% block  bodyblock%}

<div class='container'> 
        <br><br>
        <h3 class='content'>Welcome to <span style="color:#198b90"> G E N__R E C</span></h3>
        <br>
        <p class="content">
            G E N__R E C is a Web based Application developed at OVGU for detecting the Gender of a person given image.
            <br>
            <br>
            The model has been validated and tested and and produce satisfactory results.
        </p>
    </div>

{% endblock  %}